.maincontainer{
  
    width:100vw;
    height:100vh;

}

.navbar{
    background:#0A0F1C;
height:80px;
display:flex;
justify-content:center;
gap: 7px;
align-items: center;
width:11/10px;
}

.logoimg{
    width:90px;
    position:relative;
    right:30%;
    
}